USE [master]
GO
/****** Object:  Database [Resume_Orchard]    Script Date: 8/24/2019 8:36:31 PM ******/
CREATE DATABASE [Resume_Orchard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Resume_Orchard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Resume_Orchard.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Resume_Orchard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Resume_Orchard_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Resume_Orchard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Resume_Orchard]
GO
USE [Resume_Orchard]
GO
/****** Object:  User [orchard]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE USER [orchard] FOR LOGIN [orchard] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[AliasPartIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AliasPartIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[Alias] [nvarchar](64) NULL,
	[ContentItemId] [nvarchar](26) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutoroutePartIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoroutePartIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[ContentItemId] [nvarchar](26) NULL,
	[Path] [nvarchar](1024) NULL,
	[Published] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_AliasPartIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_AliasPartIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[Alias] [nvarchar](64) NULL,
	[ContentItemId] [nvarchar](26) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_AutoroutePartIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_AutoroutePartIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[ContentItemId] [nvarchar](26) NULL,
	[Path] [nvarchar](1024) NULL,
	[Published] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_ContainedPartIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_ContainedPartIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[ListContentItemId] [nvarchar](26) NULL,
	[Order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_ContentItemIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_ContentItemIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[ContentItemId] [nvarchar](26) NULL,
	[ContentItemVersionId] [nvarchar](26) NULL,
	[Latest] [bit] NULL,
	[Published] [bit] NULL,
	[ContentType] [nvarchar](255) NULL,
	[ModifiedUtc] [datetime] NULL,
	[PublishedUtc] [datetime] NULL,
	[CreatedUtc] [datetime] NULL,
	[Owner] [nvarchar](255) NULL,
	[Author] [nvarchar](255) NULL,
	[DisplayText] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_DeploymentPlanIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_DeploymentPlanIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_Document]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_Document](
	[Id] [int] NOT NULL,
	[Type] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_Identifiers]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_Identifiers](
	[dimension] [nvarchar](255) NOT NULL,
	[nextval] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[dimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_LayerMetadataIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_LayerMetadataIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[Zone] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_UserByLoginInfoIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_UserByLoginInfoIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[LoginProvider] [nvarchar](255) NULL,
	[ProviderKey] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_UserByRoleNameIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_UserByRoleNameIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](255) NULL,
	[Count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_UserByRoleNameIndex_Document]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_UserByRoleNameIndex_Document](
	[UserByRoleNameIndexId] [int] NOT NULL,
	[DocumentId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_UserIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_UserIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[NormalizedUserName] [nvarchar](255) NULL,
	[NormalizedEmail] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContainedPartIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContainedPartIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[ListContentItemId] [nvarchar](26) NULL,
	[Order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentItemIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentItemIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[ContentItemId] [nvarchar](26) NULL,
	[ContentItemVersionId] [nvarchar](26) NULL,
	[Latest] [bit] NULL,
	[Published] [bit] NULL,
	[ContentType] [nvarchar](255) NULL,
	[ModifiedUtc] [datetime] NULL,
	[PublishedUtc] [datetime] NULL,
	[CreatedUtc] [datetime] NULL,
	[Owner] [nvarchar](255) NULL,
	[Author] [nvarchar](255) NULL,
	[DisplayText] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeploymentPlanIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeploymentPlanIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[Id] [int] NOT NULL,
	[Type] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Identifiers]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Identifiers](
	[dimension] [nvarchar](255) NOT NULL,
	[nextval] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[dimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndexingTask]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexingTask](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentItemId] [nvarchar](26) NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[Type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LayerMetadataIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LayerMetadataIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[Zone] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserByLoginInfoIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserByLoginInfoIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[LoginProvider] [nvarchar](255) NULL,
	[ProviderKey] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserByRoleNameIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserByRoleNameIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](255) NULL,
	[Count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserByRoleNameIndex_Document]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserByRoleNameIndex_Document](
	[UserByRoleNameIndexId] [int] NOT NULL,
	[DocumentId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserIndex]    Script Date: 8/24/2019 8:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[NormalizedUserName] [nvarchar](255) NULL,
	[NormalizedEmail] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cms_AliasPartIndex] ON 

INSERT [dbo].[cms_AliasPartIndex] ([Id], [DocumentId], [Alias], [ContentItemId]) VALUES (5, 121, N'main-menu', N'481z9y3fjnm2x0ef317k3fecxn')
SET IDENTITY_INSERT [dbo].[cms_AliasPartIndex] OFF
SET IDENTITY_INSERT [dbo].[cms_AutoroutePartIndex] ON 

INSERT [dbo].[cms_AutoroutePartIndex] ([Id], [DocumentId], [ContentItemId], [Path], [Published]) VALUES (49, 136, N'4qppx7wpcgbedr6x66j6z8x54b', N'home-page', 1)
SET IDENTITY_INSERT [dbo].[cms_AutoroutePartIndex] OFF
SET IDENTITY_INSERT [dbo].[cms_ContentItemIndex] ON 

INSERT [dbo].[cms_ContentItemIndex] ([Id], [DocumentId], [ContentItemId], [ContentItemVersionId], [Latest], [Published], [ContentType], [ModifiedUtc], [PublishedUtc], [CreatedUtc], [Owner], [Author], [DisplayText]) VALUES (6, 101, N'4p3ejhkfmbd7av4bt569dqtaw8', N'4m4j5rc8vyehwr4gx6m21k5t5z', 1, 1, N'AbdulContentType', CAST(N'2019-08-21T22:17:57.230' AS DateTime), CAST(N'2019-08-21T22:17:57.273' AS DateTime), CAST(N'2019-08-21T22:17:57.273' AS DateTime), N'abdul', N'abdul', NULL)
INSERT [dbo].[cms_ContentItemIndex] ([Id], [DocumentId], [ContentItemId], [ContentItemVersionId], [Latest], [Published], [ContentType], [ModifiedUtc], [PublishedUtc], [CreatedUtc], [Owner], [Author], [DisplayText]) VALUES (12, 83, N'481z9y3fjnm2x0ef317k3fecxn', N'48r7hmbdajnpjtehsqg7qxadc1', 0, 0, N'Menu', CAST(N'2019-08-21T19:51:15.840' AS DateTime), CAST(N'2019-08-21T19:51:15.847' AS DateTime), CAST(N'2019-08-21T19:51:15.847' AS DateTime), N'abdul', N'abdul', N'Main Menu')
INSERT [dbo].[cms_ContentItemIndex] ([Id], [DocumentId], [ContentItemId], [ContentItemVersionId], [Latest], [Published], [ContentType], [ModifiedUtc], [PublishedUtc], [CreatedUtc], [Owner], [Author], [DisplayText]) VALUES (26, 102, N'481z9y3fjnm2x0ef317k3fecxn', N'405tp2z66174y09d6cr7q5wv40', 0, 0, N'Menu', CAST(N'2019-08-21T22:20:01.017' AS DateTime), CAST(N'2019-08-21T22:20:01.047' AS DateTime), CAST(N'2019-08-21T19:51:15.847' AS DateTime), N'abdul', N'abdul', N'Main Menu')
SET IDENTITY_INSERT [dbo].[cms_ContentItemIndex] OFF
INSERT [dbo].[cms_Identifiers] ([dimension], [nextval]) VALUES (N'', 141)
SET IDENTITY_INSERT [dbo].[cms_LayerMetadataIndex] ON 

INSERT [dbo].[cms_LayerMetadataIndex] ([Id], [DocumentId], [Zone]) VALUES (5, 81, N'Footer')
INSERT [dbo].[cms_LayerMetadataIndex] ([Id], [DocumentId], [Zone]) VALUES (9, 137, N'Footer')
INSERT [dbo].[cms_LayerMetadataIndex] ([Id], [DocumentId], [Zone]) VALUES (10, 138, N'Footer')
SET IDENTITY_INSERT [dbo].[cms_LayerMetadataIndex] OFF
SET IDENTITY_INSERT [dbo].[cms_UserByRoleNameIndex] ON 

INSERT [dbo].[cms_UserByRoleNameIndex] ([Id], [RoleName], [Count]) VALUES (1, N'ADMINISTRATOR', 1)
SET IDENTITY_INSERT [dbo].[cms_UserByRoleNameIndex] OFF
INSERT [dbo].[cms_UserByRoleNameIndex_Document] ([UserByRoleNameIndexId], [DocumentId]) VALUES (1, 61)
SET IDENTITY_INSERT [dbo].[cms_UserIndex] ON 

INSERT [dbo].[cms_UserIndex] ([Id], [DocumentId], [NormalizedUserName], [NormalizedEmail]) VALUES (1, 61, N'ABDUL', N'ABDUL.RAHEEM@CODICX.COM')
SET IDENTITY_INSERT [dbo].[cms_UserIndex] OFF
INSERT [dbo].[Identifiers] ([dimension], [nextval]) VALUES (N'', 101)
SET IDENTITY_INSERT [dbo].[UserByRoleNameIndex] ON 

INSERT [dbo].[UserByRoleNameIndex] ([Id], [RoleName], [Count]) VALUES (1, N'ADMINISTRATOR', 1)
SET IDENTITY_INSERT [dbo].[UserByRoleNameIndex] OFF
INSERT [dbo].[UserByRoleNameIndex_Document] ([UserByRoleNameIndexId], [DocumentId]) VALUES (1, 61)
SET IDENTITY_INSERT [dbo].[UserIndex] ON 

INSERT [dbo].[UserIndex] ([Id], [DocumentId], [NormalizedUserName], [NormalizedEmail]) VALUES (1, 61, N'ABDUL', N'RAHEEMJANJUA26@GMAIL.COM')
SET IDENTITY_INSERT [dbo].[UserIndex] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_AliasPartIndex_Alias]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_AliasPartIndex_Alias] ON [dbo].[AliasPartIndex]
(
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_AutoroutePartIndex_ContentItemId]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_AutoroutePartIndex_ContentItemId] ON [dbo].[AutoroutePartIndex]
(
	[ContentItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_AliasPartIndex_Alias]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_AliasPartIndex_Alias] ON [dbo].[cms_AliasPartIndex]
(
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_AutoroutePartIndex_ContentItemId]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_AutoroutePartIndex_ContentItemId] ON [dbo].[cms_AutoroutePartIndex]
(
	[ContentItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ContainedPartIndex_ListContentItemId]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_ContainedPartIndex_ListContentItemId] ON [dbo].[cms_ContainedPartIndex]
(
	[ListContentItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ContentItemIndex_ContentItemId]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_ContentItemIndex_ContentItemId] ON [dbo].[cms_ContentItemIndex]
(
	[ContentItemId] ASC,
	[Latest] ASC,
	[Published] ASC,
	[CreatedUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ContentItemIndex_ContentItemVersionId]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_ContentItemIndex_ContentItemVersionId] ON [dbo].[cms_ContentItemIndex]
(
	[ContentItemVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ContentItemIndex_DisplayText]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_ContentItemIndex_DisplayText] ON [dbo].[cms_ContentItemIndex]
(
	[DisplayText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Document_Type]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_Document_Type] ON [dbo].[cms_Document]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Dimension]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_Dimension] ON [dbo].[cms_Identifiers]
(
	[dimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ContainedPartIndex_ListContentItemId]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_ContainedPartIndex_ListContentItemId] ON [dbo].[ContainedPartIndex]
(
	[ListContentItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ContentItemIndex_ContentItemId]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_ContentItemIndex_ContentItemId] ON [dbo].[ContentItemIndex]
(
	[ContentItemId] ASC,
	[Latest] ASC,
	[Published] ASC,
	[CreatedUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ContentItemIndex_ContentItemVersionId]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_ContentItemIndex_ContentItemVersionId] ON [dbo].[ContentItemIndex]
(
	[ContentItemVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ContentItemIndex_DisplayText]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_ContentItemIndex_DisplayText] ON [dbo].[ContentItemIndex]
(
	[DisplayText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Document_Type]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_Document_Type] ON [dbo].[Document]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Dimension]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_Dimension] ON [dbo].[Identifiers]
(
	[dimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_IndexingTask_ContentItemId]    Script Date: 8/24/2019 8:36:32 PM ******/
CREATE NONCLUSTERED INDEX [IDX_IndexingTask_ContentItemId] ON [dbo].[IndexingTask]
(
	[ContentItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AliasPartIndex]  WITH CHECK ADD  CONSTRAINT [FK_AliasPartIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[AliasPartIndex] CHECK CONSTRAINT [FK_AliasPartIndex]
GO
ALTER TABLE [dbo].[AutoroutePartIndex]  WITH CHECK ADD  CONSTRAINT [FK_AutoroutePartIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[AutoroutePartIndex] CHECK CONSTRAINT [FK_AutoroutePartIndex]
GO
ALTER TABLE [dbo].[cms_AliasPartIndex]  WITH CHECK ADD  CONSTRAINT [cms_FK_AliasPartIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[cms_Document] ([Id])
GO
ALTER TABLE [dbo].[cms_AliasPartIndex] CHECK CONSTRAINT [cms_FK_AliasPartIndex]
GO
ALTER TABLE [dbo].[cms_AutoroutePartIndex]  WITH CHECK ADD  CONSTRAINT [cms_FK_AutoroutePartIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[cms_Document] ([Id])
GO
ALTER TABLE [dbo].[cms_AutoroutePartIndex] CHECK CONSTRAINT [cms_FK_AutoroutePartIndex]
GO
ALTER TABLE [dbo].[cms_ContainedPartIndex]  WITH CHECK ADD  CONSTRAINT [cms_FK_ContainedPartIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[cms_Document] ([Id])
GO
ALTER TABLE [dbo].[cms_ContainedPartIndex] CHECK CONSTRAINT [cms_FK_ContainedPartIndex]
GO
ALTER TABLE [dbo].[cms_ContentItemIndex]  WITH CHECK ADD  CONSTRAINT [cms_FK_ContentItemIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[cms_Document] ([Id])
GO
ALTER TABLE [dbo].[cms_ContentItemIndex] CHECK CONSTRAINT [cms_FK_ContentItemIndex]
GO
ALTER TABLE [dbo].[cms_DeploymentPlanIndex]  WITH CHECK ADD  CONSTRAINT [cms_FK_DeploymentPlanIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[cms_Document] ([Id])
GO
ALTER TABLE [dbo].[cms_DeploymentPlanIndex] CHECK CONSTRAINT [cms_FK_DeploymentPlanIndex]
GO
ALTER TABLE [dbo].[cms_LayerMetadataIndex]  WITH CHECK ADD  CONSTRAINT [cms_FK_LayerMetadataIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[cms_Document] ([Id])
GO
ALTER TABLE [dbo].[cms_LayerMetadataIndex] CHECK CONSTRAINT [cms_FK_LayerMetadataIndex]
GO
ALTER TABLE [dbo].[cms_UserByLoginInfoIndex]  WITH CHECK ADD  CONSTRAINT [cms_FK_UserByLoginInfoIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[cms_Document] ([Id])
GO
ALTER TABLE [dbo].[cms_UserByLoginInfoIndex] CHECK CONSTRAINT [cms_FK_UserByLoginInfoIndex]
GO
ALTER TABLE [dbo].[cms_UserByRoleNameIndex_Document]  WITH CHECK ADD  CONSTRAINT [cms_FK_UserByRoleNameIndex_Document_DocumentId] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[cms_Document] ([Id])
GO
ALTER TABLE [dbo].[cms_UserByRoleNameIndex_Document] CHECK CONSTRAINT [cms_FK_UserByRoleNameIndex_Document_DocumentId]
GO
ALTER TABLE [dbo].[cms_UserByRoleNameIndex_Document]  WITH CHECK ADD  CONSTRAINT [cms_FK_UserByRoleNameIndex_Document_Id] FOREIGN KEY([UserByRoleNameIndexId])
REFERENCES [dbo].[cms_UserByRoleNameIndex] ([Id])
GO
ALTER TABLE [dbo].[cms_UserByRoleNameIndex_Document] CHECK CONSTRAINT [cms_FK_UserByRoleNameIndex_Document_Id]
GO
ALTER TABLE [dbo].[cms_UserIndex]  WITH CHECK ADD  CONSTRAINT [cms_FK_UserIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[cms_Document] ([Id])
GO
ALTER TABLE [dbo].[cms_UserIndex] CHECK CONSTRAINT [cms_FK_UserIndex]
GO
ALTER TABLE [dbo].[ContainedPartIndex]  WITH CHECK ADD  CONSTRAINT [FK_ContainedPartIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[ContainedPartIndex] CHECK CONSTRAINT [FK_ContainedPartIndex]
GO
ALTER TABLE [dbo].[ContentItemIndex]  WITH CHECK ADD  CONSTRAINT [FK_ContentItemIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[ContentItemIndex] CHECK CONSTRAINT [FK_ContentItemIndex]
GO
ALTER TABLE [dbo].[DeploymentPlanIndex]  WITH CHECK ADD  CONSTRAINT [FK_DeploymentPlanIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[DeploymentPlanIndex] CHECK CONSTRAINT [FK_DeploymentPlanIndex]
GO
ALTER TABLE [dbo].[LayerMetadataIndex]  WITH CHECK ADD  CONSTRAINT [FK_LayerMetadataIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[LayerMetadataIndex] CHECK CONSTRAINT [FK_LayerMetadataIndex]
GO
ALTER TABLE [dbo].[UserByLoginInfoIndex]  WITH CHECK ADD  CONSTRAINT [FK_UserByLoginInfoIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[UserByLoginInfoIndex] CHECK CONSTRAINT [FK_UserByLoginInfoIndex]
GO
ALTER TABLE [dbo].[UserByRoleNameIndex_Document]  WITH CHECK ADD  CONSTRAINT [FK_UserByRoleNameIndex_Document_DocumentId] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[UserByRoleNameIndex_Document] CHECK CONSTRAINT [FK_UserByRoleNameIndex_Document_DocumentId]
GO
ALTER TABLE [dbo].[UserByRoleNameIndex_Document]  WITH CHECK ADD  CONSTRAINT [FK_UserByRoleNameIndex_Document_Id] FOREIGN KEY([UserByRoleNameIndexId])
REFERENCES [dbo].[UserByRoleNameIndex] ([Id])
GO
ALTER TABLE [dbo].[UserByRoleNameIndex_Document] CHECK CONSTRAINT [FK_UserByRoleNameIndex_Document_Id]
GO
ALTER TABLE [dbo].[UserIndex]  WITH CHECK ADD  CONSTRAINT [FK_UserIndex] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[UserIndex] CHECK CONSTRAINT [FK_UserIndex]
GO
USE [master]
GO
